.comfort__inner {
	display: flex;
	justify-content: space-between;
	margin-bottom: 100px;
}

.comfort__info {
	max-width: 495px;
}

.comfort__title {
	color: rgb(73, 94, 76);
	font-size: 45px;
	line-height: 60px;
	text-transform: capitalize;
	padding-bottom: 35px;
}

.comf__conteiner--img {
	width: 70px;
	height: 40px;
	border: 1px solid rgb(120, 192, 129);
	border-radius: 20px;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	display: flex;
}

.cinteiner__inner{
	display: flex;
	flex-shrink: 0;
	gap: 15px;
	padding-bottom: 35px;
}

.comfort__list {
	padding-bottom: 25px;
}

.comfort__item {
	display: flex;
	gap: 10px;
	align-items:baseline;
	font-family: 'Proxima Nova Rg';
	padding-bottom: 12px;
	color: rgb(124, 163, 129);
	font-size: 16px;
	line-height: 19px;
}

.comfort__item:last-child {
	padding-bottom: 0;
}

.comfort__paragraph {
	padding-bottom: 30px;
	color: rgb(132, 132, 132);
	font-family: 'Proxima Nova Rg';
	font-size: 16px;
	line-height: 26px;
}

.button__comfort{
	max-width: 447px;
	height: 85px;
	font-size: 17px;
	line-height: 23px;
	border-radius: 30px;
	margin-bottom: 76px;
}

.button__comfort::before {
	border-radius: 40px;
	top: -15px;
	left: -15px;
	right: -15px;
	bottom: -15px;
}

.button__comfort::after{
	border-radius: 30px;
}

.comfort__img {
	padding-left: 97px;
	display: flex;
	gap: 15px;
	position: relative;
}
.comfort__img::before{
	content: '';
	background-color: rgb(186, 255, 195);
	width: 718px;
	height: 718px;
	position: absolute;
	left: 109px;
	top: 53px;
	z-index: -1;
	border-radius: 50%;
	filter: blur(154px);
}
.grid1 {
	width: 273px;
	height: 358px;
}
.grid2 {
	width: 267px;
	height: 350px;
	padding-bottom: 10px;
}
.grid3 {
	width: 273px;
	height: 424px;
}
.grid4 {
	width: 267px;
	height: 294px;
}
.con1 {
	display: flex;
	flex-direction: column;
}

.con2 {
	display: flex;
	flex-direction: column;
	padding-top: 68px;
}
