.feedback {
	background: linear-gradient(rgba(217, 250, 221, 0.5), rgba(217, 250, 221, 0.5)), url("../img/main/layer1.png")  50% 50% / cover, url("../img/main/Rectangle 4279.jpeg") 0% 50% / cover no-repeat;
	margin-bottom: 100px;
	width: 100%;
}

.feedback__title {
	color: rgb(73, 94, 76);
	font-size: 35px;
	line-height: 45px;
	padding-bottom: 33px;
	padding-top: 55px;
}

.container__feedback{
	display: flex;
}

.contact__form {
	display: flex;
	gap: 30px;
	padding-right: 70px;
	padding-bottom: 58px;
}

.field {
	position: relative;
	display: block;
}


.field__input {
	display: block;
	width: 100%;
	border-radius: 15px;
	box-shadow: 0px 0px 12px 0px rgba(73, 93, 76, 0.15);
	background: rgb(255, 255, 255);
	padding: 19px 87px 19px 28px;
	font-size: 16px;
	transition: .4s;
}


.field__input::placeholder {
	color: rgba(124, 163, 129, 0.7);;
	transition: .4s;
	font-family: 'Proxima Nova Rg';
}


.contact__input {
	display: block;
	border-radius: 15px;
	box-shadow: 0px 0px 12px 0px rgba(73, 93, 76, 0.15);
	background: rgb(255, 255, 255);
	padding: 19px 87px 19px 28px;
	font-size: 16px;
	transition: .4s;
}


.contact__input::placeholder {
	color: rgba(124, 163, 129, 0.7);;
	transition: .4s;
	font-family: 'Proxima Nova Rg';
}

.button__contacts {
	max-width: 190px;
	height: 55px;
	font-family: 'Proxima Nova Lt';
	font-size: 15px;
	line-height: 21px;
	border-radius: 17px;
}
.button__contacts::before{
	border-radius: 20px;
	z-index: -1;
	top: -10px;
	left: -10px;
	right: -10px;
	bottom: -10px;
}

.button__contacts::after{
	border-radius: 17px;
}