.footer {
	background: url("../img/main/footer.jpeg") 0% 50% / cover no-repeat;
	font-family: 'Proxima Nova Rg';
}

.footer__inner {
	display: flex;
	justify-content: space-between;
	padding-top: 90px;
	padding-bottom: 100px;
}
.about__company {
	max-width: 400px;
}
.footer__logo {
	padding-bottom: 30px;
}
.footer_par {
	padding-bottom: 35px;
}

.footer__about-text {
	color: rgb(124, 163, 129);
	font-size: 14px;
	line-height: 24px;
	border-bottom: solid 1px rgb(120, 192, 129);
}

.footer__concl {
	color: rgb(73, 94, 76);
}
.footer__concl span {
	color: rgb(120, 192, 129);
	font-family: 'Proxima Nova Lt';
}



.contacts__title-footer {
	color: rgb(73, 94, 76);
	padding-bottom: 20px;
	font-size: 26px;
	line-height: 35px;
}
.list {
	display: flex;
	flex-direction: column;
	max-width: 222px;

}
.footer_feedback--media{
	display: flex;
	gap: 100px;
}
.footer__list {
	color: rgb(132, 132, 132);
	border-bottom: solid 0.5px rgb(120, 192, 129);
	display: flex;
	padding-bottom: 5px;
	padding-top: 5px;
	display: inline-flex;
	align-items: center;
	margin-right: 15px;
	flex-shrink: 0;
	gap: 15px;
}
.footer__list img{
	width: 22px;
	height: 22px;
}
.footer__feedback{
	padding-left: 15px;
}
.feed__back {
	color: rgb(73, 94, 76);
	padding-bottom: 20px;
	font-size: 26px;
	line-height: 35px;
}
.footer__form {
	padding-bottom: 45px;
}
.field {
	padding-bottom: 20px;
}