
body {
	line-height: 1.5;
	font-family: 'Proxima Nova Bd';
}

.wrapper {
	min-height: 100%;
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
	height: 100%;
}

.button{
	position: relative;
	width: 100%;
	letter-spacing: 1px;
	background-color: rgb(156, 211, 163) ;
	display: flex;
	text-transform: uppercase;
	font-family: 'Proxima Nova Lt';
	align-items: center;
	justify-content: center;
	box-shadow: inset 2px -2px 12px 0px rgba(34, 111, 33, 0.36); 
	color: white;
	z-index: 1;
}	

.button::before {
	content: "";
	position: absolute;
	z-index: -1;
	background: rgba(120, 192, 129, 0.25);
}

.button::after {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	transition: all .2s;
	background-color: rgb(156, 211, 163);
	z-index: -1;
	box-shadow: inset 2px -2px 12px 0px rgba(34, 111, 33, 0.36); 
}

.button:hover::after{
	background: #54e165;
	transition: all .2s;
}

.button:focus::after{
	background:rgb(92, 205, 106);
}
/* ------------------------------------------------------------------- */


.modal__call {
	position: fixed;
	inset: 0;
	z-index: 10;
	background: rgba(217, 250, 221, 0.55);
	padding: 15px;
	backdrop-filter: blur(10px);

	display: flex;
	align-items: center;
	justify-content: center;

	opacity: 0;
	visibility: hidden;
	transition: all .6s;
}

.body--opened-modal-call .modal__call {
	opacity: 1;
	visibility: visible;
}

.modal__window {
	position: relative;
	background: rgb(217, 250, 221);
	border-radius: 50px;
	box-shadow: 0px 0px 10px 0px rgba(73, 93, 76, 0.1);
	max-width: 445px;
}
.modal__cancel-call {
	position: absolute;
	top: -80px;
	right: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(156, 211, 163) ;
	z-index: 11;
	width: 53px;
	height: 49px;
	border-radius: 15px;
	box-shadow: inset 2px -2px 12px 0px rgba(34, 111, 33, 0.36);
}

.modal__cancel-call::before{
	content: "";
	position: absolute;
	z-index: -1;
	background: rgb(120, 192, 129, 0.25);
	border-radius: 20px;
	top: -10px;
	left: -10px;
	right: -10px;
	bottom: -10px;

}
.modal__cancel-call::after{
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	transition: all .2s;
	background-color: rgb(156, 211, 163);
	z-index: -1;
	border-radius: 15px;
	box-shadow: inset 2px -2px 12px 0px rgba(34, 111, 33, 0.36); 
}
.modal__cancel-call:hover::after{
	background: #54e165;
	transition: all .2s;
}

.modal__cancel-call:focus::after{
	background:rgb(92, 205, 106);
}
.modal__title-call {
	color: rgb(73, 94, 76);
	font-size: 45px;
	text-transform: capitalize;
	line-height: 60px;
	padding: 35px 15px 20px 35px;

}
.line__span-modal-call::after {
	content: '';
	background-color: #78C081;
	display: inline-block;
	width: 130px;
	height: 2px;
	vertical-align: super;
	margin-left: 30px;
}
.modal__inner-call {
	border-radius: 50px;
	background-color: white;
	width: 100%;
	font-family: 'Proxima Nova Rg';
	box-shadow: 0px 0px 10px 0px rgba(73, 93, 76, 0.1);
}
.modal__text {
	color: rgb(124, 163, 129);
	font-size: 16px;
	line-height: 26px;
	padding: 35px 35px 17px 35px;
}
.schedule {
	display: flex;
	color: rgb(124, 163, 129);
	display: flex;
	display: inline-flex;
	align-items: center;
	flex-shrink: 0;
	gap: 15px;
	padding-left: 35px;
	padding-bottom: 30px;
}
.modal__block-tel {
	display: flex;
	padding-bottom: 35px;
	padding-left: 35px;
}
.modal__tel1 {
	display: flex;
	color: rgb(132, 132, 132);
	display: flex;
	display: inline-flex;
	align-items: center;
	flex-shrink: 0;
	gap: 15px;
	padding-right: 10px;
	border-right:  solid 0.5px rgb(120, 192, 129); 
}
.modal__tel1 img{
	width: 22px;
	height: 22px;
}
.modal__tel2 img{
	width: 22px;
	height: 22px;
}
.modal__tel2 {
	padding-left: 20px;
	display: flex;
	color: rgb(132, 132, 132);
	display: flex;
	display: inline-flex;
	align-items: center;
	flex-shrink: 0;
}


/* --------------------------------------------------- */

.modal__contact {
	position: fixed;
	inset: 0;
	z-index: 10;
	background: rgba(217, 250, 221, 0.55);
	padding: 15px;
	backdrop-filter: blur(10px);

	display: flex;
	align-items: center;
	justify-content: center;

	opacity: 0;
	visibility: hidden;
	transition: all .6s;
}
.body--opened-modal-contact .modal__contact {
	opacity: 1;
	visibility: visible;
}
.modal__window-contact {
	position: relative;
	background: rgb(217, 250, 221);
	border-radius: 50px;
	box-shadow: 0px 0px 10px 0px rgba(73, 93, 76, 0.1);
	max-width: 415px;
}
.modal__cancel-contact {
	position: absolute;
	top: -80px;
	right: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(156, 211, 163) ;
	z-index: 11;
	width: 53px;
	height: 49px;
	border-radius: 15px;
	box-shadow: inset 2px -2px 12px 0px rgba(34, 111, 33, 0.36);
}

.modal__cancel-contact::before{
	content: "";
	position: absolute;
	z-index: -1;
	background: rgb(120, 192, 129, 0.25);
	border-radius: 20px;
	top: -10px;
	left: -10px;
	right: -10px;
	bottom: -10px;

}
.modal__cancel-contact::after{
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	transition: all .2s;
	background-color: rgb(156, 211, 163);
	z-index: -1;
	border-radius: 15px;
	box-shadow: inset 2px -2px 12px 0px rgba(34, 111, 33, 0.36); 
}
.modal__cancel-contact:hover::after{
	background: #54e165;
	transition: all .2s;
}

.modal__cancel-contact:focus::after{
	background:rgb(92, 205, 106);
}
.contact-title{
	color: rgb(73, 94, 76);
	font-size: 45px;
	text-transform: capitalize;
	line-height: 60px;
	padding: 35px 15px 20px 35px;
	margin-right: 40px;
}

.modal__inner-contact {
	border-radius: 50px;
	background-color: white;
	width: 412px;
	font-family: 'Proxima Nova Rg';
	box-shadow: 0px 0px 10px 0px rgba(73, 93, 76, 0.1);
}
.footer__form-contact {
	padding: 35px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 400px;
}

.button__modal-contacts {
	height: 55px;
	font-size: 15px;
	border-radius: 50px;
	max-width: 327px;
}
.button__modal-contacts::after {
	border-radius: 17px;
}
.button__modal-contacts::before {
	border-radius: 20px;
	z-index: -1;
	top: -10px;
	left: -10px;
	right: -10px;
	bottom: -10px;
}
.fdkjg{
	padding-left: 40px;
	border-radius: 17px;
	padding-bottom: 35px;
}
.logo__modal{
	padding: 15px 92px;
}


@media (max-width: 1200px){
	.nav {
		display: none;
	}

	.header__button{
		display: none;
	}
	.burger-icon {
		display: flex;

	}	
}
@media(max-width:900px){
	
	.service__inner{
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
	}
	.service{
		margin-bottom: 60px;
	}
	.service__info {
		max-width: 500px;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 20px;

	}
	.service__paragraph{
		text-align: center;
	}
	.service__title{
		font-size: 28px;
		line-height: 38px;
		text-align: left;
		padding-bottom: 22px;
	}
	.line__span-service::after{
		content: '';
		background-color: #78C081;
		display: inline-block;
		vertical-align: super;
		width: 110px;
		height: 2px;
		margin-left: 30px;
	}

	.service__choosen--info{
		height: 485px;
		width: 100%;
		margin-right: 60px;
		border-radius: 65px 20px 20px 65px;
	}
	.service__tab{
		border-radius: 50px;
		width: 100%;
		max-width: 410px;
	}
	.tab__photo1{
		display: none;
	}
	.tab__photo2{
		display: none;
	}
	.service__inner{
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
	}
	.service{
		margin-bottom: 60px;
	}

/* ----------------------------------- */
	.feedback__title{
		line-height: 28px;
		padding: 35px 28px 30px 30px;
	}
	.feedback{
		display: flex;
		justify-content: center;
	}
	.contact__form {
		display: block;
		gap: 30px;
		padding-right: 0px;
		padding-bottom: 20px;
	}
	.field {
		position: relative;
		display: block;
	}
	.container__feedback{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 35px;
	}
	.button__contacts {
		max-width: 290px;
		height: 55px;
		font-family: 'Proxima Nova Lt';
		font-size: 15px;
		line-height: 21px;
		border-radius: 17px;
	}
	/* ----------------------------------------- */
	.experience {
		gap: 25px;
		padding-left: 10px;
	}

	/* --------------------------------------------- */
	.portfolio__content {
		flex-direction: column;
		padding-bottom: 20px;
	}
	.title__portfolio {
		font-size: 50px;
		line-height: 60px;
		padding-bottom: 20px;
	}
	.portfolio__nav {
		padding-left: 50px;
	}

	.portfolio__text {
		color: rgb(132, 132, 132);
		font-family: 'Proxima Nova Rg';
		font-size: 16px;
		line-height: 26px;
		max-width: 610px;
	}
	.portfolio__slide.swiper-slide {
		transform: scale(1); /* Обычные слайды*/
		transition: transform 0.3s ease; /*Плавная анимация */
		width: 270px; /* Обычная ширина слайда */

		margin-left: 20px;
	}
	.swiper-slide-active.portfolio__slide {
		transform: scaleX(1); /* Немного увеличен по масштабу */
		transition: transform 0.3s ease, width 0.3s ease; /* Плавная анимация изменения ширины */
	}
	.swiper-slide {
		display: flex;
		flex-shrink: 0;
		margin-right: 0px;
		margin-left: 0px; /* Расстояние между слайдами */
	}
	.main__portfolio{
		margin-bottom: 50px;
	}

	/* *---------------------------- */
	.clients__title{
		display: none;
	}
	.clients__title--media{
		display: block;
		padding-top: 156px;
		color: rgb(73, 94, 76);
		font-size: 50px;
		text-transform: capitalize;
		line-height: 38px;
		padding-right: 15px;
		padding-bottom: 25px;
	}
	.clients__wrapper1{
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}
	.clients__slider{
		display: flex;
		/* width: 100%; */
		flex-direction: column;
		align-items: end;
		justify-content: center;
		padding-top: 0px;
		margin-left: 150px;
	}
	.clients__wrapper{
		display: flex;
		align-items: center;
		justify-content: start;
	}

	/* ---------------------------------------------- */

	.footer__inner{
		display: block;
	}
	.footer_feedback--media{
		display: flex;
		justify-content: space-around;
	}
	.footer__feedback{
		padding-top: 20px;
		display: flex;
		flex-direction: column;
		width: 100%;
		justify-content: center;
		align-items: center;
	}
	.field__input{
		padding: 19px 110px 19px 28px;
	}
	.contact__input{
		padding: 19px 110px 19px 28px;
	}
	.footer__form {
		padding-bottom: 20px;
	}
	.button__contacts{
		max-width: 310px;
	}
}

@media (max-width: 500px){
	.header{
		background: url("../img/header/image1.jpg") 50% 50% / cover no-repeat;
		width: 100%;
		margin-bottom: 100px;
	}

	.header__title {
		color: #495e4c;
		font-size: 36px;
		line-height: 46px;
		padding: 0px 0px 30px 50px;
	}
	
	.line__span::before{
		width: 93px;
		height: 2px;
		margin-right: 15px;
	}

	.header__info {
		padding-top: 73px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 100%;
	}
	.header__paragraph {
		font-size: 20px;
		line-height: 28px;
		max-width: 310px;
	}
	.header__icons {
		padding-top: 22px;
		padding-bottom: 50px;
		gap: 15px;
		padding-left: 10px;
	}

	.header_geo{
		max-width: 140px;
	}
	.header_telephone {
		max-width: 140px;
	}
	.geo{
		width: 20px;
		height: 20px;
	}
	.tel{
		width: 20px;
		height: 20px;
	}
	.button__application{
		max-width: 320px;
		height: 70px;
		font-size: 17px;
		line-height: 23px;
		border-radius:20px;
		margin-bottom: 370px;
	}
	
	.button__application::before {
		border-radius: 30px;
		top: -15px;
		left: -15px;
		right: -15px;
		bottom: -15px;
	}
	
	.button__application::after{
		border-radius: 20px;
	}

	/* ------------------------------------------------- */

	.service__inner{
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
	}
	.service{
		margin-bottom: 60px;
	}
	.service__info {
		max-width: 280px;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 20px;
	}
	.service__title{
		font-size: 28px;
		line-height: 38px;
		text-align: left;
		padding-bottom: 22px;
	}
	.line__span-service::after{
		content: '';
		background-color: #78C081;
		display: inline-block;
		vertical-align: super;
		width: 130px;
		height: 2px;
		margin-left: 30px;
	}

	.service__choosen--info{
		height: 375px;
		width: 100%;
	}
	.service__tab{
		border-radius: 50px;
		width: 100%;
		max-width: 410px;
	}
	.container__info{
		max-width: 320px;
	}
	.tab__photo1{
		display: none;
	}
	.tab__photo2{
		display: none;
	}

	/* ----------------------------------------- */
	.lung{
		display: none;
	}
	.decision{
		padding-bottom: 70px;
	}
	.decisions__content {
		background: url("../img/main/image89.png") 50% 60% / cover no-repeat;
		width: 100%;
		padding-bottom: 20px;
		padding-top: 56px;
	}
	.decisions__title{
		color: rgb(73, 94, 76);
		font-size: 28px;
		line-height: 38px;
		padding-bottom: 10px;
	}
	.line__span-decisions::after {
		display: none;
	}
	.line__span-decisions--media{
		display: block;
	}
	.line__span-decisions--media::after{
		content: '';
		background-color: #78C081;
		display: inline-block;
		width: 106px;
		height: 2px;
		vertical-align: super;
		margin-left: 30px;
	}
	.decisions__title br{
		display: none;
	}
	.decisions__content{
		grid-template-columns: repeat(2, 2fr);
	}
	.five{
		padding: 12px 0 12px 10px;
	}
	.decisions__img{
		height: 130px;
	}
	.decisions__paragraph{
		display: flex;
		align-items: center;
		height: 72px;
	}

	/* ----------------------------------- */
	.steps__title {
		color: rgb(73, 94, 76);
		font-size: 28px;
		text-transform: capitalize;
		line-height: 38px;
		padding-right: 15px;
		padding-bottom: 20px;
	}
	.steps{
		margin-bottom: 70px;
	}
	.steps__img--line{
		display: none;
	}
	.steps__headline{
		display: flex;
		flex-direction: column;
		padding-bottom: 0;
	}
	.steps__img--line--media{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 45px;
	}
	.img__steps{
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.line__span-steps::after {
		content: '';
		background-color: #78C081;
		display: inline-block;
		width: 62px;
		height: 2px;
		vertical-align: super;
		margin-left: 30px;
	}

	/* ------------------------------------------------ */

	.feedback__title{
		font-size: 28px;
		line-height: 28px;
		padding-bottom: 30px;
		padding-top: 35px;
		padding: 35px 28px 30px 28px;
	}
	.contact__form {
		display: block;
		gap: 30px;
		padding-right: 0px;
		padding-bottom: 20px;
	}
	.field {
		position: relative;
		display: block;
	}
	.container__feedback{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 35px;
	}
	.button__contacts {
		max-width: 290px;
		height: 55px;
		font-family: 'Proxima Nova Lt';
		font-size: 15px;
		line-height: 21px;
		border-radius: 17px;
	}

	/* ------------------------------------------------------ */
	
	.about{
		margin-bottom: 70px;
	}
	.about__inner {
		display: block;
		align-items: center;
		justify-content: center;
	}
	.about__us {
		width: 100%;
		padding-bottom: 10px;
		margin-bottom: 40px;
	}
	.about__title {
		font-size: 28px;
		line-height: 38px;
		padding-left: 25px;
		max-width: 400px;
	}
	.line__span-about::after {
		width: 115px;
		height: 20px;
	}
	.about__par {
		padding: 0 0 0 25px;
	}
	.experience {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}
	.exp__one {
		align-self: start;
	}
	.exp__two {
		align-self: end;
	}
	.exp__four {
		align-self: end;
	}

	/* ------------------------------------------------------------- */
	.comfort__inner {
		display: flex;
		margin-bottom: 100px;
		padding-left: 10px;
		padding-right: 10px;
	}
	
	
	.comfort__title {
		font-size: 28px;
		line-height: 38px;
		padding-bottom: 25px;
	}
	.comfort__img{
		display: none;
	}

	.cinteiner__inner{
		display: flex;
		gap: 15px;
		align-items: center;
		flex-wrap: wrap;
		padding-bottom: 25px;
	}


	/* --------------------------------------------- */
	.img1::before{
		content: url('../img/main/letter.png');
		top: -10px;
		left: 185px;
	}
	.img2::before{
		content: url('../img/main/map.png');
		top: 0px;
		left: 0px;
	}
	.img3::before{
		content: url('../img/main/house.png');
		top: -10px;
		left: 140px;
	}
	.img4::before{
		content: url('../img/main/graph.png');
		top: 25px;
		left: 0px;
	}
	.img5::before{
		content: url('../img/main/note.png');
		top: -10px;
		left: 220px;
	}
	.img6::before{
		content: url('../img/main/car.png');
		top: 5px;
		left: -60px;
	}
	.sheme__title {
		font-size: 24px;
		line-height: 32px;
	}
	.scheme__par {
		font-size: 14px;
		line-height: 24px;
		max-width: 280px;
	}
	.center {
		text-align: center;
	}
	.center::before {
		content: url('../img/main/hands.png');
		top: 35px;
		left: 30px;
	}
	.end{
		padding-bottom: 30px;
	}

	/*---------------------------------------------------  */
	.portfolio__content {
		flex-direction: column;
		padding-bottom: 20px;
	}
	.title__portfolio {
		font-size: 28px;
		line-height: 38px;
		padding-bottom: 20px;
	}
	.portfolio__nav {
		display: flex;
		gap: 37px;
		padding-bottom: 30px;
		justify-content: center;
	}
	.portfolio__content::before{
		content: '';
		background-color: rgb(186, 255, 195);
		width: 500px;
		height: 500px;
		position: absolute;
		left: -150px;
		top: 400px;
		z-index: -1;
		border-radius: 50%;
		filter: blur(150px);
	}
	.portfolio__text {
		color: rgb(132, 132, 132);
		font-family: 'Proxima Nova Rg';
		font-size: 16px;
		line-height: 26px;
		max-width: 610px;
	}
	.portfolio__slide.swiper-slide {
		transform: scale(1); /* Обычные слайды */
		transition: transform 0.3s ease; /* Плавная анимация */
		width: 270px; /* Обычная ширина слайда */

		margin-left: 20px;
	}
	.swiper-slide-active.portfolio__slide {
		transform: scaleX(1); /* Немного увеличен по масштабу */
		transition: transform 0.3s ease, width 0.3s ease; /* Плавная анимация изменения ширины */
	}
	.swiper-slide {
		display: flex;
		flex-shrink: 0;
		margin-right: 0px;
		margin-left: 0px; /* Расстояние между слайдами */
	}
	.main__portfolio{
		margin-bottom: 50px;
	}
  
	/* ------------------------------------------------------------- */

	.clients__title{
		display: none;
	}
	.clients__title--media{
		display: block;
		padding-top: 156px;
		color: rgb(73, 94, 76);
		font-size: 35px;
		text-transform: capitalize;
		line-height: 38px;
		padding-right: 15px;
		padding-bottom: 25px;
	}
	.clients__wrapper1{
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}
	.clients__slider{
		display: flex;
		width: 100%;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-top: 0px;
		margin-left: 10px;
	}
	.clients__wrapper{
		display: flex;
		align-items: center;
		justify-content: start;
	}
	.clients__media{
		display: none;
	}
	/* ------------------------------------- */
	.footer__inner {
		display: flex;
		flex-direction: column;
		padding-top: 90px;
		padding-bottom: 100px;
	}
	.about__company {
		max-width: 400px;
	}
	.footer__logo {
		padding-bottom: 30px;
	}
	.footer_par {
		display: none;
	}
	
	.footer__about-text {
		color: rgb(124, 163, 129);
		font-size: 14px;
		line-height: 24px;
		border-bottom: solid 1px rgb(120, 192, 129);
	}
	.footer_feedback--media{
		display: flex;
		flex-direction: column;
		gap: 30px;
	}
	.footer__concl {
		color: rgb(73, 94, 76);
	}
	.footer__concl span {
		color: rgb(120, 192, 129);
		font-family: 'Proxima Nova Lt';
	}
	
	
	
	.contacts__title-footer {
		color: rgb(73, 94, 76);
		padding-bottom: 20px;
		font-family: 'Proxima Nova Lt';
		font-size: 26px;
		line-height: 35px;
	}
	.list {
		display: flex;
		flex-direction: column;
		max-width: 222px;
	
	}
	.footer__contacts{
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: center;
		padding-bottom: 30px;
	}
	.footer__list {
		color: rgb(132, 132, 132);
		border-bottom: solid 0.5px rgb(120, 192, 129);
		width: 100%;
		display: flex;
		padding-bottom: 5px;
		padding-top: 5px;
		justify-content: start;
		display: inline-flex;
		align-items: center;
		margin-right: 15px;
		flex-shrink: 0;
		gap: 15px;
	}
	.footer__list img{
		width: 22px;
		height: 22px;
	}
	.footer__end{
		display: none;

	}
	.contact__input{
		width: 100%;
	}
	.footer__feedback{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.feed__back {
		color: rgb(73, 94, 76);
		padding-bottom: 20px;
		font-size: 26px;
		line-height: 35px;
		font-family: 'Proxima Nova Lt';
	}
	.footer__form {
		padding-bottom: 45px;
	}
	.field {
		padding-bottom: 20px;
		width: 100%;
	}
	.button__contacts{
		align-items: center;
	}
}

@media (max-width: 395px){
	.header__icons{
		display: block;
	}
	.icons__container{
		display: flex;
		align-items: center;
		padding-bottom: 10px;
	}
	.icons__container--tel{
		display: flex;
		align-items: center;
		max-width: 175px;
	}
}
