.main__portfolio{
	margin-bottom: 200px;
}
.portfolio__inner{
	position: relative;
}
.portfolio__content {
	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
}
.portfolio__content::before{

	content: '';
	background-color: rgb(186, 255, 195);
	width: 718px;
	height: 718px;
	position: absolute;
	left: -230px;
	top: 100px;
	z-index: -1;
	border-radius: 50%;
	filter: blur(150px);
}

.title__portfolio {
	color: rgb(73, 94, 76);
	font-size: 45px;
	line-height: 60px;
	text-transform: capitalize;
}
.portfolio__text {
	color: rgb(132, 132, 132);
	font-family: 'Proxima Nova Rg';
	font-size: 16px;
	line-height: 26px;
	max-width: 610px;
}
.portfolio__nav {
	display: flex;
	gap: 37px;
	padding-bottom: 30px;
}
.prev_but{
	padding-right: 2px;
}
.next_but{
	padding-left: 2px;
}
.prev_but, .next_but {
	cursor: pointer;
	background: transparent;
	width: 34px;
	height: 34px;
	background-color: #5CCD6A;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	transition: all .3s;
	box-shadow: inset 2px -2px 12px 0px rgba(34, 111, 33, 0.36);
	position: relative;
}
.prev_but::before, 
.next_but::before {
	content: '';
	position: absolute;
	top: -6px;
	left: -6px;
	right: -6px;
	bottom: -6px;
	background-color: rgba(120, 192, 130, 0.25);
	z-index: -1;
	border-radius: 50%;
	height: 46px;
	width: 46px;
}
.prev_but:hover,
.next_but:hover{
	background-color: #54E165;
	transition: all .3s;
}
.prev_but path,
.next_but path{
	fill: white;
}

.swiper-button-disabled.prev_but,
.swiper-button-disabled.next_but{
	background-color: #FFFFFF;
	box-shadow: none;
	position: relative;
}

.swiper-button-disabled.prev_but::before,
.swiper-button-disabled.next_but::before{
	content: '';
	position: absolute;
	top: -6px;
	left: -6x;
	right: -6px;
	bottom: -6px;
	background-color: rgba(255, 255, 255, 0.45);
	z-index: -1;
	border-radius: 50%;
	height: 46px;
	width: 46px;
}
.swiper-button-disabled.prev_but path,
.swiper-button-disabled.next_but path{
	fill: #D9FADD;
}
.logo__cont {
	position: absolute;
	width: 165px;
	height: 60px;
	background-color: #D9FADD;
	top: 30px;
	border-radius: 0px 15px 15px 0px;
	
}
.logo__cont img{
	height: 30px;
	width: 95px;
	margin: 10px 30px 10px 40px;
}
.portfolio__slide.swiper-slide {
	transform: scale(1); /* Обычные слайды */
	transition: transform 0.3s ease; /* Плавная анимация */
	width: 270px; /* Обычная ширина слайда */
}

.swiper-slide-active.portfolio__slide {
	transform: scaleX(1.5); /* Немного увеличен по масштабу */
	width: 400px; /* Увеличенная ширина для активного слайда */
	transition: transform 0.3s ease, width 0.3s ease; /* Плавная анимация изменения ширины */
}




.portfolio__slider {
	overflow: visible;
	margin-left: 0 !important;
}

.portfolio__wrapper {
	display: flex;
}

.swiper-wrapper {
}

.portfolio__slide {

}

.port__img {
	height: 476px;
	max-width: 100%; /* Чтобы изображение подстраивалось под ширину слайда */
	border-radius: 35px;
}

.swiper-slide {
	display: flex;
	flex-shrink: 0;
	margin-right: 30px;
	margin-left: 20px; /* Расстояние между слайдами */

}

.swiper {
}
.portfolio__wrapper {
}
.swiper-wrapper {
}
.portfolio__slide {

}

.port__img{
	height: 476px;
	width: 270px;
	border-radius: 35px;
}
.swiper-slide {
}