.steps{
	margin-bottom: 105px;
}
.steps__headline {
display: flex;
justify-content: space-between;
padding-bottom: 84px;
}
.steps__title {
	color: rgb(73, 94, 76);
	font-size: 45px;
	text-transform: capitalize;
	line-height: 60px;
	padding-right: 15px;
}
.steps__img--line--media {
	display: none;
}
.line__span-steps::after {
	content: '';
	background-color: #78C081;
	display: inline-block;
	width: 90px;
	height: 2px;
	vertical-align: super;
	margin-left: 30px;
}
.steps__paragraph {
	color: rgb(120, 192, 129);
	font-size: 26px;
	line-height: 35px;
	text-transform: capitalize;
	max-width: 600px;
}
.p{
	padding-bottom: 11px;
}

.steps__item {
	font-family: 'Proxima Nova Rg';
	color: rgb(124, 163, 129);
	font-size: 16px;
	line-height: 19px;
	gap: 10px;
	display: flex;
	padding-bottom: 8px;
}
.steps__item:last-child {
	padding-bottom: 0;
}

.steps__img--line {
	position: relative;
	display: flex;
	justify-content: center;
}
.conteiner__img {
	background: rgb(217, 250, 221);
	width: 100px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	flex-shrink: 0;
	margin-bottom: 20px;
}

.img__steps2 {
	padding-bottom: 55px;
}
.img__steps3 {
	padding-top: 55px;
}
.img__steps4 {
	padding-bottom: 50px;
}
.desc{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Proxima Nova Rg';
}
.desc-p{
	width: 110px;
	justify-content: center;
}